---
import BaseLayout from "./BaseLayout.astro";
import Button from "../components/Button.svelte";
import { projectDateOptions } from "../data/constants";

const { content } = Astro.props;
---

<BaseLayout
  title={content.title}
  description={content.description}
  path={content.url}
>
  <section>
    <div class="container">
      <div class="project-top-content">
        <h1>{content.description}</h1>
        <Button href={content.url} target={true}>View Website</Button>
      </div>

      <div class="project-about-grid">
        <div class="project-about-wrapper">
          <div class="project-about-title">Services</div>
          <ul>
            {content.services.map((d) => <li>{d}</li>)}
          </ul>
        </div>
        <div class="project-about-wrapper">
          <div class="project-about-title">Client</div>
          <ul>
            {content.clients.map((d) => <li>{d}</li>)}
          </ul>
        </div>
        <div class="project-about-wrapper">
          <div class="project-about-title">Date</div>
          <div>
            {new Date(content.startDate).toLocaleDateString(
              "en-US",
              projectDateOptions
            )} - {new Date(content.endDate).toLocaleDateString(
              "en-US",
              projectDateOptions
            )}
          </div>
        </div>
      </div>

      <div class="project-divider"></div>

      <div class="project-content">
        <slot />
      </div>
    </div>
    <div class="project-screenshots">
      {content.screenshots.map((d) => <img src="/assets/projects/${d.img}" alt=${d.alt} title=${d.title} />)}
    </div>
  </section>
</BaseLayout>

<style>
  .project-top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--size-6);
    flex-wrap: wrap;
    align-items: first baseline;
  }

  .project-about-grid {
    display: grid;
    grid-column-gap: var(--size-1);
    grid-row-gap: var(--size-2);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
  }

  .project-about-title {
    margin-bottom: var(--size-1);
    color: var(--gray-9);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-5);
  }

  .project-divider {
    width: 100%;
    height: 1px;
    background-color: var(--gray-5);
    margin: var(--size-6) 0;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-screenshots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--size-4);
    padding: var(--size-6);
  }

  .project-screenshots img {
    border: 15px solid var(--violet-0);
    border-radius: var(--radius-2);
    height: auto;
    object-fit: cover;
  }

  :global(.project-content p) {
    margin-top: var(--size-4);
  }

  :global(.project-content h2) {
    margin-top: var(--size-6);
  }

  @media only screen and (max-width: 1024px) {
    h1 {
      margin: var(--size-4) 0;
    }

    .project-screenshots {
      grid-template-columns: 1fr;
    }
  }
</style>
